<!-- start bar -->
<div class="bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link nav-link-bordere"href="#">
                    <div [class.span]="bar_active == 'whyqrcodes'" (click)="bar_active = 'whyqrcodes'">WHY QR CODES</div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-bordere" href="#">
                    <div [class.span]="bar_active == 'features'" (click)="bar_active = 'features'">FEATURES</div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-bordere" href="#">
                    <div [class.span]="bar_active == 'support'" (click)="bar_active = 'support'">SUPPORT</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    <!-- end bar -->
<!-- start support -->
<div class="support">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center text-top">
                <h2>Scanova Support</h2>
                <p>Need help? See our guides or reach out to us</p>
            </div>
        </div>
    </div>
</div>
<!-- end support -->
<!-- start faqs -->
<div class="faqs">
        <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12 text-center">
                  <h2>FAQs Helpdesk</h2>
                  <div class="text-faqs-top">Get answers to your queries with our exhaustive FAQs helpdesk</div>
              </div>
              <div class="col-md-5 col-sm-12 text-faqs">
                  <h6>What will happen to my QR Codes after the 14-day free trial?</h6>
                  <div class="text-faqs-bottom">After the 14-day free trial ends, your Static QR Codes will continue to work but Dynamic QR Codes will expire. You will need to start a subscription to activate your account and Dynamic QR Codes.</div>
                  <div class="link-faqs-bottom"><a href="#">SEE FULL ANSWER</a></div>
              </div>
              <div class="col-md-5 col-sm-12 text-faqs">
                      <h6>What is the difference between Dynamic and Static QR Codes?</h6>
                      <div class="text-faqs-bottom">Dynamic QR Codes are advanced QR Codes with capabilities such as content editing and scan tracking. Static QR Codes are basic QR Codes, which are permanent but non-trackable and non-editable.</div>
                      <div class="link-faqs-bottom"><a href="#">SEE FULL ANSWER</a></div>
              </div>
        
              <div class="col-md-5 col-sm-12 text-faqs">
                      <h6>My QR Code is not working anymore. What happened?</h6>
                      <div class="text-faqs-bottom">In most cases, the QR Code stops working if your subscription has expired, your dynamic QR Code is in standby mode, or if the QR Code has become unscannable due to wear and tear.</div>
                      <div class="link-faqs-bottom"><a href="#">SEE FULL ANSWER</a></div>
              </div>
        
              <div class="col-md-5 col-sm-12 text-faqs">
                      <h6>What should be the minimum size of QR Code on print?</h6>
                      <div class="text-faqs-bottom">For most cases, the minimum size of a QR Code should at least be 1.2 inch or 3 cm or 115 pixels (in width and height). For the ideal size, see rule in full answer.</div>
                      <div class="link-faqs-bottom"><a href="#">SEE FULL ANSWER</a></div>
              </div>
              <div class="col-md-12 button-faqs text-center">
                  <a class="btn btn-primary">SEE ALL FAQs</a>
              </div>
          </div>
        </div>
        </div>
        <!-- end faqs -->

<!-- start about-qr -->
<div class="about-qr">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-sm-12 text-about-top text-center">
        <h2>Know more about QR Codes</h2>
        <div class="text-about">Our expert guides will help you create QR Code campaigns like a pro</div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="{{ qrcodelogo }}" alt="Card image cap" width="100%" height="193px">
          <div class="card-body">        
            <p class="card-text">How to make QR Code like a pro</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="{{ comqrcode }}" alt="Card image cap" width="100%" height="193px">
          <div class="card-body">        
            <p class="card-text">How QR Codes are used: Epic Guide for Marketers</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="{{ qrcodecolor }}" alt="Card image cap" width="100%" height="193px">
          <div class="card-body">        
            <p class="card-text">How to create a custom QR Code</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end about-qr -->

<!-- start email -->
<div class="email">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-top">
                <h2>Email Us</h2>
                <p>Have a question? Write to us and we will respond as soon as possible</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-left">
                    <form>
                            <div class="form-group">
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="E-email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control textarea" id="exampleInputEmail4" aria-describedby="emailHelp" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                          </form>
            </div>
            <div class="col-md-6">
                <img src="{{ env }}" alt="" width="100%" height="385px">
            </div>
        </div>
    </div>
</div>
<!-- end email -->
<!-- start call-us -->
<div class="call-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Call Us</h2>
                <p>Need urgent help? Call us to get immediate assistance</p>
                <div class="col-md-12 button-call-us text-center">
                        <a class="btn btn-primary">+212 658401949</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end call-us -->





<app-footer></app-footer>
