/* start bar */
.bar .bg-light {
    background-color: #324ef9 !important;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
}
.bar .navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
    margin-right: 42px;
    font-size: 13px;
    line-height: 40px;
    
}
.bar .navbar-light .navbar-nav .nav-item .nav-link-bordere .span
{
    background-color: #030652;
    border-radius: 2px;
    padding: 0px 4px;
}
/* end bar */

/* start pdf */
.pdf {
    padding: 40px 0 70px 0;
    font-family: 'Montserrat', sans-serif;
    color: #585858;
}
.pdf .text-right h1 {
    padding-bottom: 30px;
    letter-spacing: 2px;
}
.pdf .text-right .name-type {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding-bottom: 14px;
}
.pdf .text-right .form-group .form-control {
    padding: 14px;
    border-radius: 0;
}
.pdf .text-right .btn {
    background-color: #324ef9;
    border-radius: 2px;
    width: 50%;
    padding: 10px 0;
    letter-spacing: 2px;
    margin: 30px auto 0;
}
.pdf .btn-left {
    background: none;
    color: #989b9e;
    border-radius: 0;
    border: 1px solid #ced4da;
    width: 50%;
}
.pdf .btn-left a {
    text-decoration: none;
    color: #989b9e;
}
.pdf .text-right .upload {
    position: relative;
}
.pdf .text-right .upload .button-upload {
    position: absolute;
    top: 13%;
    left: 37%;
    background: none;
    padding: 8px 22px;
    border: 1px solid #324ef9;
    color: #324ef9;
    cursor: pointer;
}
.pdf .input-group {
    width: 100%;
    
}
.pdf .input-group .custom-file .custom-file-label {
    border-radius: 0;
    cursor: pointer;
}
.pdf .input-group .custom-file .custom-file-label::after {
    content: "";
    padding: 0;
    border-left: none;
}

@media (max-width: 422px) {
    .pdf .text-right .btn {
        width: 90%;
    }
    .pdf .text-right .upload .button-upload {
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1202px) {
    .pdf .text-right .btn {
        width: 77%;
    }
}
@media (max-width: 346px) {
    .pdf h1 {
        font-size: 23px;
    }
    .pdf .name-type {
        font-size: 16px;
    }
}
/* end url */