<!-- start bar -->
<div class="bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-bordere" routerLink="/why-qr-codes">
                <div [class.span]="bar_active == 'whyqrcodes'" (click)="bar_active = 'whyqrcodes'">WHY QR CODES</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-bordere" href="#">
                <div [class.span]="bar_active == 'features'" (click)="bar_active = 'features'">FEATURES</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-bordere" routerLink="/support">
                <div [class.span]="bar_active == 'support'" (click)="bar_active = 'support'">SUPPORT</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>
<!-- end bar -->
<!-- start traffic -->
<div class="traffic">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center  text-top">
              <h2>Make Print Media Actionable with QR Codes</h2>
              <div class="text-traffic-top">QR Codes enable you to engage your target audience via print media
                </div>
        </div>
        <div class="col-md-6 col-sm-12 text-center text-bottom">
          <h3>The old way</h3>
          <div class="text-bottom-traffic">Traditional print media is non-actionable and marketers cannot guage engagement level</div>
          <img src="{{ watchvide }}" alt="hh" width="100%" height="330px">
        </div>
        <div class="col-md-6 col-sm-12 text-center text-bottom text-bottom-border-left">
          <h3>The new way</h3>
          <div class="text-bottom-traffic">Adding a QR Code to print media makes it actionable and marketers can track activity</div>
          <img src="{{ watchvidee }}" alt="hh" width="100%" height="330px">
        </div>
      </div>
      <!--<div class="button-traffic text-center">
        <a routerLink="/#" class="btn btn-primary">SEE USE CASES OF QR CODES</a>
      </div>-->
    </div>
  </div>
  <!-- end traffic -->
<!-- start started -->
<div class="started">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 text-left">
              <h2>Drive traffic to your website</h2>
              <div class="text-started-left">
                    A QR Code is the best way to get instant<br>
                    web traffic from print media promotions.
              </div>
              <div class="button-started">
                <a routerLink="/register" class="btn btn-primary">
                    CREATE WEBSITE URL QR CODE</a>
              </div>
              
            </div>
            <div class="col-md-5 col-sm-12">
              <img src="{{ drive }}" alt="" width="100%" height="200px">
            </div>
          </div>
        </div>
      </div>
<!-- end started -->
<!-- start share -->
<div class="share">
    <div class="container">
        <div class="row justify-content-center">
                <div class="col-md-12 text-top text-center">
                <h1>Share multimedia content to engage audience</h1>
                <div class="text-share-top">With QR Codes, you can 
                    share multimedia content via print media such as detailed text information,<br> event details,
                     mobile apps, coupons, videos, photos, audio, 
                     maps location, and PDF documents</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                <img src="{{ shareyoutube }}" alt="" width="100%" height="358px">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                    <img src="{{ sharetext }}" alt="" width="100%" height="358px">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                    
                        <img src="{{ sharemaps }}" alt="" width="100%" height="358px">
                    
                    
                        </div>
                    </div>
    </div>
</div>
<!-- end share -->
<!-- start multimedia -->
<div class="multimedia">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-top text-center">
                <div class="text-top-multimedia">
                        With Scanova you can create the
                        following QR Codes to share multimedia content
                </div>
            </div>
        </div>
        <div class="row justify-content-center contenu-bottom">
            <div class="col-lg-2 col-sm-4 text-center text-icone">
                <a></a><i class="fas fa-file-pdf"></i>
                <div class="difi-icone">
                    <div class="text">File PDF</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 text-center text-icone">
                    <a></a><i class="fas fa-text-height"></i>
                    <div class="difi-icone">
                        <div class="text">Text</div>
                    </div>
            </div>
            <div class="col-lg-2 col-sm-4 text-center text-icone">
                    <a></a><i class="fas fa-file-image"></i>
                    <div class="difi-icone">
                        <div class="text">Image</div>
                    </div>
            </div>
            <div class="col-lg-2 col-sm-4 text-center text-icone">
                    <a></a><i class="fas fa-ticket-alt"></i>
                    <div class="difi-icone">
                        <div class="text">Coupon</div>
                    </div>
            </div>
            <div class="col-lg-2 col-sm-4 text-center text-icone">
                    <a></a><i class="fas fa-file-audio"></i>
                    <div class="difi-icone">
                        <div class="text">Audio</div>
                    </div>
            </div>
            
        </div>

        <div class="row justify-content-center contenu-bottom">
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fab fa-telegram-plane"></i>
                    <div class="difi-icone">
                        <div class="text">SMS</div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fas fa-calendar-alt"></i>
                        <div class="difi-icone">
                            <div class="text">Calendar</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a> <i class="fas fa-map-marker-alt"></i>
                        <div class="difi-icone">
                            <div class="text">Google Maps</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a> <i class="fas fa-wifi"></i>
                        <div class="difi-icone">
                            <div class="text">Wifi</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fas fa-mobile"></i>
                        <div class="difi-icone">
                            <div class="text">App Store</div>
                        </div>
                </div>
                
            </div>
    </div>
</div>
<!-- end multimedia -->

<!-- start share -->
<div class="share">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-top text-center">
                    <h1>Acquire social media followers</h1>
                    <div class="text-share-top">With a single scan allow your print media audience to connect with you on Facebook, 
                        <br>LinkedIn, Twitter, and other popular social media networks</div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                    <img src="{{ sharemedia }}" alt="" width="100%" height="358px">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                        <img src="{{ sharefb }}" alt="" width="100%" height="358px">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                            <img src="{{ sharetw }}" alt="">
                        </div>
                        <!--<div class="col-md-3 contenu-bottom">
                                <img src="" alt="">
                            </div>-->
            </div>
        </div>
    </div>
<!-- end share -->
<!-- start multimedia -->
<div class="multimedia">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-top text-center">
                    <div class="text-top-multimedia">
                            Scanova helps you connect to audience on social media with the following QR Codes
                    </div>
                </div>
            </div>
            <div class="row justify-content-center contenu-bottom">
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                    <a></a><i class="fab fa-facebook"></i>
                    <div class="difi-icone">
                        <div class="text">Facebook</div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fab fa-twitter-square"></i>
                        <div class="difi-icone">
                            <div class="text">Twitter</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fab fa-instagram"></i>
                        <div class="difi-icone">
                            <div class="text">Instagrame</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fab fa-youtube"></i>
                        <div class="difi-icone">
                            <div class="text">Youtube</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fas fa-bullhorn"></i>
                        <div class="difi-icone">
                            <div class="text">Social Media</div>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end multimedia -->
<!-- start share -->
<div class="share">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-top text-center">
                    <h1>Share contact information easily</h1>
                    <div class="text-share-top">With QR Codes, you can make it easy for people to 
                        save your contact information via print media such as business cards</div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                    <img src="{{ sharevcard }}" alt="" width="100%" height="358px">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                        <img src="{{ sharesvcard }}" alt="" width="100%" height="358px">
                    </div>
                    
                        <!--<div class="col-md-3 contenu-bottom">
                                <img src="" alt="">
                            </div>-->
            </div>
        </div>
    </div>
<!-- end share -->
<!-- start multimedia -->
<div class="multimedia">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-top text-center">
                    <div class="text-top-multimedia">
                            Scanova makes it easy to save contact information with the following QR Codes
                    </div>
                </div>
            </div>
            <div class="row justify-content-center contenu-bottom">
                <div class="col-md-2 text-center text-icone">
                    <a></a><i class="fas fa-phone"></i>
                    <div class="difi-icone">
                        <div class="text">Phone Number</div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fas fa-user-plus"></i>
                        <div class="difi-icone">
                            <div class="text">Vcard Profile</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fas fa-user"></i>
                        <div class="difi-icone">
                            <div class="text">Simple Vcard</div>
                        </div>
                </div>
                <div class="col-lg-2 col-sm-4 text-center text-icone">
                        <a></a><i class="fas fa-envelope"></i>
                        <div class="difi-icone">
                            <div class="text">Email</div>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end multimedia -->

    <!-- start share -->
<div class="share">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-top text-center">
                    <h1>Accept mobile payments</h1>
                    <div class="text-share-top">With QR Codes, you can give your cus
                        tomers the option to pay you using their smartphones</div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 contenu-bottom">
                    <img src="{{ sharepaypal }}" alt="" width="100%" height="358px">
                </div>
               
                    
                        <!--<div class="col-md-3 contenu-bottom">
                                <img src="" alt="">
                            </div>-->
            </div>
        </div>
    </div>
<!-- end share -->

<!-- start multimedia -->
<div class="multimedia">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-top text-center">
                    <div class="text-top-multimedia">
                            Make transactions easier with the following QR Codes
                    </div>
                </div>
            </div>
            <div class="row justify-content-center contenu-bottom">
                <div class="col-md-2 text-center text-icone">
                    <a></a><i class="fab fa-paypal"></i>
                    <div class="difi-icone">
                        <div class="text">Paypal</div>
                    </div>
                </div>
                <div class="col-md-2 text-center text-icone">
                        <a></a><i class="fab fa-bitcoin"></i>
                        <div class="difi-icone">
                            <div class="text">Bitcoin</div>
                        </div>
                </div>
               
               
                
            </div>
        </div>
    </div>
    <!-- end multimedia -->

<!-- start started -->
<div class="started">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 text-left">
              <h2>Get started with Scanova</h2>
              <div class="text-started-left">
                  Sign-up for a 14-day free trial. No credit<br>
                  card required. Cancel account anytime.
              </div>
              <div class="button-started">
                <a routerLink="/register" class="btn btn-primary">TRY SCANOVA NOW</a>
              </div>
              
            </div>
            <div class="col-md-5 col-sm-12">
              <img src="{{ gostart }}" alt="" width="100%" height="253px">
            </div>
          </div>
        </div>
      </div>
      <!-- end started -->
<!-- start about-qr -->
<div class="about-qr">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 text-about-top text-center">
              <h2>Know more about QR Codes</h2>
              <div class="text-about">Our expert guides will help you create QR Code campaigns like a pro</div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="{{ qrcodelogo }}" alt="Card image cap" width="100%" height="193px">
                <div class="card-body">        
                  <p class="card-text">How to make QR Code like a pro</p>
                </div>
              </div>
            </div>
      
            <div class="col-md-3 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="{{ comqrcode }}" alt="Card image cap" width="100%" height="193px">
                <div class="card-body">        
                  <p class="card-text">How QR Codes are used: Epic Guide for Marketers</p>
                </div>
              </div>
            </div>
      
            <div class="col-md-3 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="{{ qrcodecolor }}" alt="Card image cap" width="100%" height="193px">
                <div class="card-body">        
                  <p class="card-text">How to create a custom QR Code</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about-qr -->
<app-footer></app-footer>
