<!-- start footer -->
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 text">
          <div class="logo-info">
            <a><img src="" alt="logo"></a>
            <p>The easiest way to create QR Codes</p>
            <div class="icone">
              <div class="row">
                <div class="col-md-1">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="col-md-1">
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
                <div class="col-md-1">
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-md-1">
                  <a href=""><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="col-md-1">
                  <a href=""><i class="fas fa-envelope"></i></a>
                </div>
              </div>
            </div>
            <div class="info">
              <div>Ⓒ2018 Scanova. All rights reserved</div>
              <div>QR Code is a registered trademark of Denso Wave Incorporated.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 text">
          <div class="company">COMPANY</div>
          <div class="class-company">
            <div><a href="#">ABOUT</a></div>
            <div><a href="#">BLOG</a></div>
            <div><a href="#">SUPPORT</a></div>
            <div><a href="#">TERMS OF USE</a></div>
            <div><a href="#">PRIVACY POLICY</a></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 text">
            <div class="company">PRODUCT</div>
            <div class="class-company">
              <div><a href="#">FREE TRIAL</a></div>
              <div><a href="#">WHY QR CODES</a></div>
              <div><a href="#">FEATURES</a></div>
              <div><a href="#">PRICING</a></div>
              <div><a href="#">HELPDESK</a></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->