


<div class="sidebar" [ngClass]="{
  'side': !menuLeft
}" >
    <ul>
        <li><a href="#"> <i class="fas fa-hotel"></i> Dashboard</a></li>
        <li><a href="#"> <i class="fas fa-qrcode"></i> QrCode Types</a></li>
        <li><a href="#"> <i class="fas fa-align-left"></i> Contents</a></li>
        <li><a href="#">hh</a></li>
        <li><a href="#">hh</a></li>
        <li><a href="#">hh</a></li>
        <li><a href="#">hh</a></li>
    </ul>
</div>
<a class="but" (click)="onMenuLeft()"> <i class="fas fa-align-left"></i> </a>



      